<nav>
    <div class="nav-wrapper teal lighten-2">
      <img src="../assets/Together.png" alt="Logo Together application aide violences conjugales" width="65px">
      <ul class="right hide-on-med-and-down">
        <li><a class="waves-effect waves-light btn">Se connecter</a></li>
        <li><a class="waves-effect waves-light btn">S'inscrire</a></li>
      </ul>
    </div>
</nav>

<div style="text-align:center" class="content">
    <h1>
    {{title}}
    </h1>
    <p>
    {{paragraphe}}
    </p>

<router-outlet></router-outlet>
